#################  
## openFrameworks  
#################  

[Bb]in/*  
![Bb]in/data/  
[Bb]uild/  
[Oo]bj/  
*.o  
[Dd]ebug*/  
[Rr]elease*/  
*.mode*  
*.app/  
*.pyc  
*.log  
/bin/*.app

xcuserdata
.xcworkspace